<section id="<%= id %>" class="container section-padding--top">
  <div>
    <h2>
      <%= current_page?('/') ? t('home.proportion_protected.title_html') : t('countries.shared.proportion_protected.title_html'); %>
      <modal-trigger id="citation" :modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
    </h2>
    <p class="text-body"><%= current_page?('/') ? t('home.proportion_protected.intro_text') : t('countries.shared.proportion_protected.intro_text', country_name: t("countries.#{@yml_key}.title")) %></p>
  </div>

  <div class="cards--protection-dials">
    <% map_datasets.each do |dataset| %>
      <div class="card card--<%= current_page?('/') ? 'present' : dataset_status(dataset) %>">

        <div class="card__content">
          <div class="card__dial">
            <v-dial
            id="<%= dataset[:id] %>"
            name="<%= dataset[:name] %>"
            icon-class="<%= current_page?('/') ? "icon--#{dataset[:id]}" : icon_class(dataset) %>"
            :percentage="<%= current_page?('/') ? habitat_protection(dataset[:id])[:percentage_protection] : protected_percentage(dataset) %>"
            :width="180"
            >
          </div>
          <div class="card__habitat">
            <p class="card__habitat-title"><%= dataset[:name] %></p>
            <p class="card__habitat-status">
              <% if @habitats_present %>
                <% if (dataset_status(dataset) == 'unknown' || dataset_status(dataset) == 'absent') %>
                  <%= dataset_status_title(dataset) %>
                <% else %>
                  <span class="card__habitat-percentage"><%= protected_percentage(dataset) %>%</span>
                  of <%= number_with_delimiter(total_value(dataset), :delimiter => ',') %> km<sup>2</sup>
                <% end %>
              <% else %>
                <span class="card__habitat-percentage"><%= habitat_protection(dataset[:id])[:percentage_protection] %>%</span> of
                <%= number_with_delimiter(habitat_protection(dataset[:id])[:total_habitat_cover], :delimiter => ',') %> km<sup>2</sup>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="text--smallprint"><%= current_page?('/') ? t('home.proportion_protected.note').html_safe : t('countries.shared.proportion_protected.note').html_safe; %></p>
  <p class="text--smallprint right"><%= current_page?('/') ? t('home.proportion_protected.last_updated') : t('countries.shared.proportion_protected.last_updated'); %></p>
</section>
