<div class="table box-shadow--grey-light">
  <div class="table__column">
    <div class="table__cell"></div>

    <% red_list_categories.each do |column| %>
      <div class="table__cell">
        <%= image_tag column[:icon], class: 'table__icon', alt: "#{column[:title]} icon" %>
        <span class="table__title--capitalized"><%= column[:title] %></span>
      </div>
    <% end %>

    <div class="table__cell bold"><%= t('countries.shared.red_list.total') %>:</div>
  </div>

  <% @red_list_data.each do |habitat| %>
      <div class="table__column">
        <div class="table__cell">
          <% if !habitat['data'].present? %>
            <i class="table__icon <%= get_habitat_icon_class(habitat[:id])-%>-absent" alt="<%= habitat[:title] %> icon"></i>
           <% else %>
            <i class="table__icon <%= get_habitat_icon_class(habitat[:id]) %>" alt="<%= habitat[:title] %> icon"></i>
          <% end %>
          <span class="table__title"><%= habitat[:title] %></span>
        </div>
      <% if habitat['data'].present? %>
        <% habitat['data'].each do |name, integer| %>
          <div class="table__cell"><%= integer %></div>
        <% end %>
      <% else %>
        <% 8.times do %>
          <div class="table__cell">-</div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>












