<div class="table box-shadow">
  <div class="table__column">
    <div class="table__cell"></div>

    <% @red_list_categories.each do |column| %>
      <div class="table__cell">
        <%= image_tag column[:icon], class: 'table__icon', alt: "#{column[:title]} icon" %>
        <span class="table__title"><%= column[:title] %></span>
      </div>
    <% end %>

    <div class="table__cell bold"><%= t('countries.shared.red_list.total') %>:</div>
  </div>
  
  <% @red_list_data.each do |column| %>
    <% if column[1].length > 0 %>
      <div class="table__column">
        <div class="table__cell">
          <i class="table__icon <%= get_habitat_icon_class(column[0][:id]) %>" alt="<%= column[0][:title] %> icon"></i>
          <span class="table__title"><%= column[0][:title] %></span>
        </div>

        <% column[1].each do |integer| %>
          <div class="table__cell"><%= integer %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
