<section class="container section-padding--top">
  <h2><%= t('countries.shared.ancillary.sources_title'); %></h2>
  <% citations.each do |s| %>
    <p><%= s.html_safe %></p>
  <% end %>
  <p class="center"><%= t('countries.shared.ancillary.sources_note').html_safe %></p>
</section>

<section class="container section-padding--top">
  <h2><%= t('countries.shared.ancillary.citation_title'); %></h2>
  <p><%= 
    t('countries.shared.ancillary.citation_text', 
      country_name_lower: t("countries.#{@yml_key}.title").downcase.parameterize,
      country_name: t("countries.#{@yml_key}.title")
    ).html_safe 
  %></p>
</section>

<section class="container section-padding">
  <h2><%= t('countries.shared.ancillary.downloads_title'); %></h2>
  <% t('countries.shared.ancillary.downloads').each do |d| %>
    <p><%= d.html_safe %></p>
  <% end %>
</section>
