<section class="section-padding--bottom">
  <div class="container">
    <div class="h2-wrapper flex flex-v-center">
      <h2 class="margin-space-right"><%= t('countries.shared.example_species.title') %></h2>
      <v-select 
        id="example-species" 
        :options="<%= example_species_select.to_json %>" 
        event="example-species"
        :selected="<%= example_species_selected %>">
      </v-select>
    </div>
    <p class="example-species__total-count">
      <%= t(
        'countries.shared.example_species.total_species_count', 
        count: species_count
      ) %>
    </p>

    <example-species :content="<%= example_species_common %>" event="example-species"></example-species>
    <example-species :content="<%= example_species_threatened %>" event="example-species"></example-species>
  </div>
</section>