<section id="<%= id %>" class="container section-padding--top">
  <div class="flex">
    <h2><%= t('countries.shared.habitats_present.title'); %></h2>
  </div>
  <p><%= t('countries.shared.habitats_present.intro_text', country_name: @name); %></p>

  <div class="cards--habitats-present">
    <% habitats_present.each do |habitat| %>
      <!-- Present but data deficient habitats are essentially considered as 'Present' -->
      <% if habitat[:status] = 'present-but-unknown'  %>
        <% habitat[:status] = 'present' %>
        <% habitat[:status_title] = 'Confirmed Presence' %>
      <% end %>

      <div class="card card--<%= habitat[:status] %>">

        <div class="card__status">
          <span class="card__status-ribbon">
            <i class="card__status-icon"></i>
          </span>
          <span class="card__status-title">
            <%= habitat[:status_title] %>
          </span>
        </div>

        <div class="card__content">
          <i class="card__habitat-icon <%= get_habitat_icon_class(habitat[:id], habitat[:status]) %>" alt="<%= habitat[:title] %> icon"></i>

          <p class="card__habitat">
            <span class="card__habitat-title"><%= habitat[:title] %></span>
            <modal-trigger id="citation" modal-content="<%= habitat[:citation].html_safe %>" class="icon--citation"></modal-trigger>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <p class="text--smallprint"><%= t('countries.shared.habitats_present.disclaimer').html_safe %></p>

</section>
