<section 
  id="<%= id %>"
  class="container section-padding--top"
>
  <div class="flex">
    <h2> <%= t('countries.shared.habitat_extent.title') %></h2>
    <modal-trigger id="citation" modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
  </div>
  <p><%= t('countries.shared.habitat_extent.intro_text', country_name: @name) %></p>
  <v-map-interactive
    id="'map-target'"
    iso3="<%= iso3 %>"
    :has-download-button="true"
    :datasets="<%= datasets.to_json %>"
    :custom-bounding-box="<%= @country.bounding_box.to_json %>"
  ></v-map-interactive>
  <p class="text--smallprint"><%= t('global.map_disclaimer').html_safe %></p>
  <p class="text--smallprint"><%= t('countries.shared.habitat_extent.map_note').html_safe %></p>
</section>
