<section class="container section-padding--top">
  <h2>
    <%= t('countries.shared.habitat_representation.title'); %>
    <modal-trigger id="citation" :modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
  </h2>
  <p class="text-body"><%= t('countries.shared.habitat_representation.intro_text', country_name: t("countries.#{@yml_key}.title")) %></p>

  <h3><%= t('countries.shared.habitat_representation.chart_heading', coastline_length: @stacked_row_chart[:chart][:coastline_length]).html_safe %></h3>
  <chart-row-stacked
    :rows="<%= @stacked_row_chart[:chart][:rows].reject{ |habitat| habitat[:percent] == 0 }.to_json %>"
    theme="<%= @stacked_row_chart[:chart][:theme] %>"
    :legend="<%= @stacked_row_chart[:legend].to_json %>">
  </chart-row-stacked>
  <p class="text--smallprint"><%= t('countries.shared.habitat_representation.chart_note').html_safe %></p>
</section>
