<section id="<%= id %>" class="section-padding bg--grey-xlight">
  <div class="container">
    <div class="flex">
      <h2><%= t('countries.shared.habitat_change.title') %></h2>
      <modal-trigger id="citation" modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
    </div>

    <p><%= t('countries.shared.habitat_change.intro_text') %></p>

    <div class="cards--habitat-change">
      <% habitat_change.each do |habitat| %>
        <div class="card__card">
          <div class="flex">
            <i class="card__icon <%= get_habitat_icon_class(habitat[:id], habitat[:status]) %>" alt="<%= habitat[:title] %> icon"></i>
            <span class="card__stat"><%= habitat[:change] == 0 ? '' : habitat[:change].to_s.concat('%') %></span>
          </div>

          <div class="card__title-wrapper flex flex-v-center">
            <h4 class="card__title"><%= habitat[:title] %></h4>
          </div>

          <div class="card__content">
            <%= habitat[:text].html_safe %>
          </div>
        </div>
      <% end %>
    </div>

    <p class="text--smallprint">
      <%= t('countries.shared.habitat_change.smallprint').html_safe %>
    </p>
  </div>
</section>
