<section class="container section-padding--bottom">
  <!-- <div class="flex">
    <h2><%= t('countries.shared.habitats_present.title'); %>: <%= t("countries.#{@yml_key}.title") %></h2>
    <modal-trigger id="citation" :modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
  </div> -->
  <div>
    <h2>
      <%= t('countries.shared.protection_dials.title_html'); %>
      <modal-trigger id="citation" :modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
    </h2>

    <% t('countries.shared.protection_dials.description_html').each do |p| %>
      <p><%= p.html_safe %></p>
    <% end %>
  </div>

  <div class="cards--protection-dials">
    <% map_datasets.each do |dataset| %>
      <%
        dataset_status = @country.occurrences[dataset[:id]]
        dataset_status_title = I18n.t("countries.shared.habitats_present.title_#{@country.occurrences[dataset[:id]]}")
        icon_class = get_habitat_icon_class(dataset[:id], @country.occurrences[dataset[:id]])
        protected_percentage = @country.protection_stats[dataset[:id]] ? @country.protection_stats[dataset[:id]]['protected_percentage'].round(2) : 0
        total_value = @country.protection_stats[dataset[:id]] ? @country.protection_stats[dataset[:id]]['total_value'].to_i : 0
        total_units = dataset[:id] == 'coldcorals' ? 'observations' : 'km<sup>2</sup>'.html_safe
      %>
      <div class="card card--<%= dataset_status %>">

        <div class="card__content">
          <div class="card__dial">
            <v-dial
            id="<%= dataset[:id] %>"
            name="<%= dataset[:name] %>"
            icon-class="<%= icon_class %>"
            :percentage="<%= protected_percentage %>"
            :width="180"
            >
          </div>
          <div class="card__habitat">
            <p class="card__habitat-title"><%= dataset[:name] %></p>
            <p class="card__habitat-status">
              <% if (dataset_status == 'unknown') %>
                <%= dataset_status_title %>
              <% else %>
                <span class="card__habitat-percentage"><%= protected_percentage %>%</span>
                of <%= total_value %> <%= total_units %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="text--smallprint"><%= t('countries.shared.protection_dials.footer'); %></p>
</section>
