<%= render '/global/header-home' %>

<%= link_to 'Costa Rica', country_path(54) %>

<section class="bg--grey-light">
  <div class="container">
    <h2><%= t('home.habitat_change.title'); %></h2>

    <div class="cards--habitat-change">
      <% @habitat_change.each do |habitat| %>
        <div class="card__card">
          <p class="flex">
            <%= image_tag habitat[:icon], class: 'card__icon', alt: "#{habitat[:title]} icon" %>
            <span class="card__stat">-8%</span>
          </p>
          <p>
            <h4 class="card__title"><%= habitat[:title] %></h4>
            tooltip
          </p>
          <p class="card__content">
            <%= habitat[:text].html_safe %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>