<h3><%= t('home.habitat_cover.title') %></h3>

<div class="cards--habitat-change">
  <% habitat_cover.each do |habitat| %>
  <div class="card__card">
    <div class="card__visual flex <%= 'disabled' if habitat[:change_percentage].nil? %>">
      <i class="card__icon <%= get_habitat_icon_class(habitat[:id]) %>" alt="<%= habitat[:title] %> icon"></i>

      <span class="card__stat">
        <div class="card__stat-text"><%= habitat[:change_direction] %></div>

        <div><%= habitat[:change_percentage] || '--' %></div>
      </span>
    </div>

    <div class="card__title-wrapper flex flex-v-center">
      <h4 class="card__title"><%= habitat[:title] %></h4>

      <modal-trigger id="citation" modal-content="<%= habitat_change_modal(habitat[:modal_content]) %>" class="icon--citation margin-space-left"></modal-trigger>
    </div>

    <div class="card__content">
      <%= habitat_text(habitat) %>
    </div>
  </div>
  <% end %>
</div>