<section class="section-padding bg--grey-xlight">
  <div class="container">
    <div class="flex">
      <h2><%= t('home.habitat_cover.title'); %></h2>
      <modal-trigger id="citation" class="icon--citation margin-space-left"></modal-trigger>
    </div>

    <div class="cards--habitat-change">
      <% @habitat_cover.each do |habitat| %>
        <div class="card__card">
          <div class="flex">
            <i class="card__icon <%= get_habitat_icon_class(habitat[:id]) %>" alt="<%= habitat[:title] %> icon"></i>
            <span class="card__stat">-8%</span>
          </div>

          <div class="card__title-wrapper flex flex-v-center">
            <h4 class="card__title"><%= habitat[:title] %></h4>
            <modal-trigger id="citation" :modal-content="{ content: '<%= habitat[:citation_text] %>' }" class="icon--citation margin-space-left"></modal-trigger>
          </div>

          <div class="card__content">
            <%= habitat[:text].html_safe %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>