<section id="<%= id %>" class="container--small section-padding--top">
  <div class="flex">
    <h2>
      <%= t('home.locations_map.title') %>
    </h2>

    <modal-trigger id="citation" modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
  </div>

  <% t('home.locations_map.text').each do |p| %>
    <p><%= p.html_safe %></p>
  <% end %>
</section>

<section class="container section-padding">
  <v-map-interactive
    :id="'map-target'"
    :has-download-button="true"
    :datasets="<%= datasets.to_json %>"
  ></v-map-interactive>

  <p class="text--smallprint max-width-container-small">
    <%= t('global.map_disclaimer') %>
  </p>
</section>
