<section class="container section-padding--bottom">
  <h2><%= t('home.red-list.title'); %></h2>

  <table class="table">
    <thead class="table-head">
      <tr class="table-head__row">
        <th></th>
        <% t('home.general.habitats').each do |th| %>
          <th class="table-head__cell">
            <%= image_tag th[:icon], class: 'table-head__icon', alt: "#{th[:title]} icon" %>
            <span class="table-head__title"><%= th[:title] %></span>
          </th>
        <% end %>
      </tr>
    </thead>
    
    <tbody>
      <% @red_list.each do |category| %>
        <tr class="table-body__row">
          <td class="table-body__cell"><%= category[0][:title] %></td>

          <% category[1].each do |integer| %>
            <td class="table-body__cell"><%= integer %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="text--smallprint"><%= t('home.red-list.smallprint') %></p>
</section>