<section class="container section-padding--bottom">
  <div class="flex">
    <h2><%= t('home.red_list.title'); %></h2>
    <modal-trigger id="citation" :modal-content="{ content: '<%= t('home.red_list.citation'); %>' }" class="icon--citation margin-space-left"></modal-trigger>
  </div>

  <table class="table">
    <thead class="table-head">
      <tr class="table-head__row">
        <th></th>
        <% t('global.habitats').each do |th| %>
          <th class="table-head__cell">
            <div class="flex flex-v-center">
              <%= image_tag th[:icon], class: 'table-head__icon', alt: "#{th[:title]} icon" %>
              <span class="table-head__title"><%= th[:title] %></span>
            </div>
          </th>
        <% end %>
      </tr>
    </thead>
    
    <tbody class="box-shadow">
      <% @red_list.each do |category| %>
        <tr class="table-body__row">
          <td class="table-body__cell">
            <div class="flex flex-v-center">
              <%= image_tag category[0][:icon], class: 'table-body__icon', alt: "#{category[0][:title]} icon" %>
              <span class="table-body__title"><%= category[0][:title] %></span>
            </div>
          </td>

          <% category[1].each do |integer| %>
            <td class="table-body__cell"><%= integer %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="text--smallprint"><%= t('home.red_list.smallprint') %></p>
</section>