<footer class="footer gutters bg--navy-xdark flex flex-v-center flex-h-between">
  <%= image_tag '', alt: 'Ocean+ Habitats logo', class: 'footer__partner-logo logo--site' %>

  <div class="flex flex-v-center">
    <%= image_tag 'logos/logo-proteus.svg', alt: 'Proteus logo', class: 'footer__partner-logo logo--proteus' %>
    <%= image_tag 'logos/logo-panorama.svg', alt: 'Panorama logo', class: 'footer__partner-logo logo--panorama' %>
    <%= image_tag 'logos/logo-geobon.svg', alt: 'GEO BON logo', class: 'footer__partner-logo logo--geobon' %>
    <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg', alt: 'UN Environment World Conservation Monitoring logo', class: 'footer__partner-logo logo--wcmc' %>
  </div>
</footer>