<footer class="footer-wrapper gutters bg--navy-xdark">
  <div class="footer container">
    <%= link_to 'https://oceanplus.org/', title: 'Visit Ocean+', target: '_blank' do %>
      <%= image_tag 'logos/logo-ocean-plus.svg', alt: 'Ocean+ logo', class: 'footer__partner-logo logo--site' %>
    <% end %>

    <div class="footer__partner-logos">
      <%= image_tag 'logos/logo-proteus.svg', alt: 'Proteus logo', class: 'footer__partner-logo logo--proteus' %>
      <%= image_tag 'logos/logo-panorama.svg', alt: 'Panorama logo', class: 'footer__partner-logo logo--panorama' %>
      <%= image_tag 'logos/logo-geobon.svg', alt: 'GEO BON logo', class: 'footer__partner-logo logo--geobon' %>
      <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg', alt: 'UN Environment World Conservation Monitoring logo', class: 'footer__partner-logo logo--wcmc' %>
    </div>
  </div>
</footer>