<footer class="footer-wrapper">
  <div class="footer container">
    <%= link_to root_url, title: t('shared.homepage', name: 'Ocean+ Habitats') do %>
      <%= image_tag 'logos/logo-ocean-plus-habitats.svg', alt: 'Ocean+ Habitats logo', class: 'footer__partner-logo logo--site' %>
    <% end %>

    <div class="footer__partner-logos">
      <%= link_to 'http://unep-wcmc.org', title: t('shared.visit', name: 'UN Environment World Conservation Monitoring Centre'), target: '_blank' do %>
        <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UNEP_WCMC_logo_grey.svg', alt: 'UN Environment World Conservation Monitoring logo', class: 'footer__partner-logo logo--wcmc' %>
      <% end %>

      <%= link_to 'http://geobon.org', title: t('shared.visit', name: 'GEO BON'), target: '_blank' do %>
        <%= image_tag 'logos/logo-geobon.svg', alt: 'GEO BON logo', class: 'footer__partner-logo logo--geobon' %>
      <% end %>
      
      <%= link_to 'http://proteuspartners.org', title: t('shared.visit', name: 'Proteus Partners'), target: '_blank' do %>
        <%= image_tag 'logos/logo-proteus.svg', alt: 'Proteus logo', class: 'footer__partner-logo logo--proteus' %>
      <% end %>
    </div>
  </div>
  
  <span class="footer__divider"></span>
  
  <div class="footer container">
    <div class="footer__citation">
      <h4><%= t('shared.footer_citation_title') %></h4>
      <p><%= t('shared.footer_citation').html_safe %></p>
      <span class="footer__copyright">&copy; <%= t('shared.footer_copyright') %> <%= Date.current.strftime('%Y') %></span>
    </div>
    <div class="footer__downloads">
      <h4><%= t('shared.footer_downloads_title') %></h4>
      <p>Download component </p>
    </div>
  </div>
</footer>

