<title><%= title_meta_tag %></title>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

<meta property="og:site_name" content="<%= site_title %>">
<meta property="og:title" content="<%= site_title %>">
<meta property="og:description" content="<%= site_description %>">
<meta property="og:url" content="<%= request.base_url %>">
<meta property="og:type" content="website">
<meta property="og:image" content="<%= social_image %>" >
<meta property="og:image:alt" content="<%= social_image_alt %>" >
<meta property="og:image:width" content="600" >
<meta property="og:image:height" content="314" >

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="<%= site_title %>">
<meta name="twitter:description" content="<%= site_description %>">
<meta name="twitter:image" content="<%= social_image %>">
<meta name="twitter:image:alt" content="<%= social_image_alt %>">

<% if Rails.env.production? %>
  <%= javascript_tag do %>
    window.ENABLE_ANALYTICS = true
  <% end %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129191439-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    //Sending event on turbolinks:load and don't want to double count
    gtag('config', 'UA-129191439-1', { 'send_page_view': false });
  </script>

  <!-- Hotjar Tracking Code for https://habitats.oceanplus.org/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2440973,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
<% end %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#293039">
<meta name="theme-color" content="#ffffff">

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application' %>

<script src="https://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.core.js"></script>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.js'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>

<!-- cookie consent -->
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#dedede",
      "text": "#00141C"
    },
    "button": {
      "background": "#18424E",
      "text": "#fff"
    }
  },
  "content": {
    "message": "This website uses cookies to ensure you get the best experience on our website.",
    "dismiss": "Got it!",
    "link": "Learn more",
    "href": "http://cookies.insites.com/about-cookies"
  }
})});
</script>
<!-- end cookie consent -->