<header class="header--home bg-image-overlay--dark">
  <%
=begin
%>
  <%# Hide banner until permission approval %>
  <%= render 'global/banner.html.erb' %>
<%
=end
%>
  <%= render 'global/topbar.html.erb' %>
  <div class="header__content">
    <h1 class="header__h1"><%= t('home.general.title') %></h1>
    <p class="header__intro"><%= t('home.general.description') %></p>
  </div>
  <div class="header__search">
    <v-select-searchable
      class="topbar__dropdown--centered v-select--large"
      :config="<%= {
        id: 'country',
        placeholder: t('home.general.search_placeholder')
      }.to_json %>"
      :options="<%= get_nav_items[:countries].to_json %>"
      >
    </v-select-searchable>
  </div>
</header>
