<div id="nav" class="nav-wrapper">
  <nav class="nav gutters bg--navy flex flex-v-center flex-h-between">
    <%= link_to 'Warm-water corals', "#{warmwater_path}#nav", title: 'View Warm-water corals', class: "nav__a #{active_nav_item?(warmwater_path)} #{active_nav_item?('/')}" %>
    <%= link_to 'Saltmarshes', "#{saltmarshes_path}#nav", title: 'View Saltmarshes', class: "nav__a #{active_nav_item?(saltmarshes_path)}" %>
    <%= link_to 'Mangroves', "#{mangroves_path}#nav", title: 'View Mangroves', class: "nav__a #{active_nav_item?(mangroves_path)}" %>
    <%= link_to 'Seagrasses', "#{seagrasses_path}#nav", title: 'View Seagrasses', class: "nav__a #{active_nav_item?(seagrasses_path)}" %>
    <%= link_to 'Cold-water corals', "#{coldcorals_path}#nav", title: 'View Cold-water corals', class: "nav__a #{active_nav_item?(coldcorals_path)}" %>
  </nav>
</div>
