<nav class="nav gutters bg--navy flex flex-v-center flex-h-between">
  <%= link_to 'Warm-water corals', warmwater_path, title: 'View Warm-water corals', class: 'nav__a active theme-orange'  %>
  <%= link_to 'Saltmarshes', saltmarshes_path, title: 'View Saltmarshes', class: 'nav__a theme-green'  %>
  <%= link_to 'Mangroves', mangroves_path, title: 'View Mangroves', class: 'nav__a theme-yello'  %>
  <%= link_to 'Seagrasses', seagrasses_path, title: 'View Seagrasses', class: 'nav__a theme-blue'  %>
  <%= link_to 'Cold-water corals', warmwater_path, title: 'View Cold-water corals', class: 'nav__a theme-pink'  %>
</nav>