<div class="topbar relative">
  <div class="topbar__content container">
    <%= link_to root_path, class: "topbar__link", title: 'Visit the Ocean+ Habitats home page' do %>
      <%= image_tag 'logos/logo-ocean-plus-habitats.svg', class: 'logo--site', alt: 'The logo for Ocean+ Habitats' %>
    <% end %>

    <nav-burger 
      :links="<%= get_nav_primary %>" 
      class="topbar__nav nav--primary"
      :is-always-burger="true"
    ></nav-burger>

    <v-select-searchable
      class="nav__dropdown"
      :config="<%= get_countries_search_config %>"
      :options="<%= get_nav_items[:countries].to_json %>"
    >
    </v-searchable>
  </div>
</div>