<div class="topbar relative">
  <div class="topbar__content container">
    <%= link_to root_path, title: 'Visit the Ocean+ Habitats home page' do %>
      <%= image_tag 'logos/logo-ocean-plus-habitats.svg', class: 'logo--site', alt: 'The logo for Ocean+ Habitats' %>
    <% end %>
    <%= link_to 'About', about_path, style: 'padding: 10rem' %>
    <%= link_to 'Methodologies', methodologies_path %>

    <nav-trigger id="nav-primary" class="topbar__nav-trigger nav--primary">
      <span class="margin-space-right font-alignment-padding-fix">
        <%= t('global.nav.burger_text') %>
      </span>
      <i class="icon--burger"></i>
    </nav-trigger>

    <nav-mega-menu
      id="nav-primary"
      class="nav--primary container"
      :countries="<%= get_nav_items[:countries].to_json %>"
      :regions="<%= get_nav_items[:regions].to_json %>"
      :config="<%= get_countries_search_config %>"
      regions-title="<%= t('global.main_menu.regions_title') %>"
    />
  </div>
</div>
