<div class="topbar relative">
  <div class="topbar__content container">
    <%= link_to root_path, title: 'Visit the Ocean+ Habitats home page' do %>
      <%= image_tag 'logos/logo-ocean-plus-habitats.svg', class: 'logo--site', alt: 'The logo for Ocean+ Habitats' %>
    <% end %>

    <nav-trigger id="nav-primary" class="topbar__nav-trigger nav--primary button--burger">
      <span class="margin-space-right font-alignment-padding-fix">
        <%= t('global.nav.burger_text') %>
      </span>
      <i class="icon--burger"></i>  
    </nav-trigger>

    <nav-mega-menu id="nav-primary" class="nav--primary">
      <div class="nav__columns container">
        <div class="nav__column">
          <p class="bold">Countries</p>
          <nav>
            <% get_nav_items[:countries].each do |country| %>
              <%= link_to country[:title], country[:url], title: "View the page for #{country[:title]}", class: 'nav__a' %>
            <% end %>
          </nav>
        </div>
        <div class="nav__column">
          <p class="bold">Regions</p>
          <nav>
            <% get_nav_items[:regions].each do |country| %>
              <%= link_to country[:title], country[:url], title: "View the page for #{country[:title]}", class: 'nav__a' %>
            <% end %>
          </nav>
        </div>
      </div>
    </nav-mega-menu>
  </div> 
</div>