<!DOCTYPE html>
<html>
  <head>
    <%= render '/global/head' %>
  </head>

  <body>
    <div id="v-app" v-cloak>
      <%= render '/global/header-home' %>

      <section class="container">
        <chart-doughnut :datasets="<%= @doughnut_chart.to_json %>" smallprint="<%= @smallprint %>"></chart-doughnut>
      </section>
      
      <!-- <habitat source="/" :nav="<%= @nav %>"></habitat> -->

      <%= render '/global/footer' %>
    </div>
  </body>
</html>
