<!DOCTYPE html>
<html>
  <head>
    <%= render '/global/head' %>
  </head>

  <body>
    <%= render '/global/header' %>
    <%= render '/global/nav' %>
    <%= render '/global/greatest-coverage' %>
    <%= render '/global/protected-areas' %>
    <%= yield %>
    <%= render '/global/footer' %>
  </body>
</html>
